* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#left-part{
  width: fit-content;
  height: 100vh;
  background-color: #77c3ec;
}
#left-part-inner {
  width: 20vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  
}

#right-part {
  
  height: 80vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  row-gap: 20px;
}

#my-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#personal-info ,#skills {
  list-style-type: square;
}

#personal-info ,#skills> li {
  margin: 20px 0 0 20px;
}

#main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.boundary{
  width:80%; 
  color: black;
  height: 3px;

}